.giorgino{
    background-color: aquamarine;
    border-style: dashed;
    border-color: blanchedalmond;
    border-width: 5px;
    border-radius: 4px;
    text-align: center;
    color: red;
    padding: Spx;
}

.link-nav
{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.foglio{
   border-style: solid; 
   border-color: grey;
}
.nome{
    color: blue;
}
.nome{
    color: blue;
}

.nome{
    color: blue;
}

.nome{
    color: blue;
}
